.about-page {
  margin: 100px;
}

.home-page {
  margin: 100px;
}

.sign-up-page {
  margin: 100px;
}

.log-in-page {
  margin: 100px;
}

.bookmarked-page {
  margin: 100px;
}

.input {
  width: 100%;
}

.cardcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 11em;
  grid-gap: 2em;
}

.bookmarked {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:10em ;
  grid-gap: 2em;
}

.cardcontainer:hover {
  opacity: 5;
}

.card-body {
  text-align: center;
}

.linktag {
  color: grey;
  font-style: italic;
}

.linktag:hover {
  color:orange;
  cursor: pointer;
  text-decoration: none;
}
.thumbs-wrapper.axis-vertical {
    display: none;
}

.bookmark {
  color: orange;
}

