.about-page {
    margin: 100px;
} 

.home-page {
    margin: 100px;
}

.sign-up-page {
    margin: 100px;
}

.log-in-page {
    margin: 100px;
}

.bookmarked-page {
    margin: 100px;
}

.input {
    width: 100%;
}