.about-page {
  margin: 100px;
}

.home-page {
  margin: 100px;
}

.sign-up-page {
  margin: 100px;
}

.log-in-page {
  margin: 100px;
}

.bookmarked-page {
  margin: 100px;
}

.input {
  width: 100%;
}

.cardcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.cardcontainer:hover {
  opacity: 5;
}

.card-body {
  text-align: center;
}


.slide.selected:hover .img1 {
  opacity: 0.5;
}

.thumbs-wrapper.axis-vertical {
    display: none;
}

.card {
    height: 90vh;
}
